#wraper {
  height: auto;
  margin-top: 10%;
  padding: 0;
}
.div-img {
  height: 570px;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom right, #fa6007, #fbb96e);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.div-img img {
  margin-top: 50%;
  width: 100%;
}

.div-form {
  height: 570px;
  background-color: rgba(0, 0, 0, 0.507);
}
.form {
  margin-top: 10%;
  padding: 5% 0;
  border: 5px inset rgb(246, 135, 44);
  border-radius: 5%;
  background-color: white;
}
.div-input {
  margin-bottom: 10px;
}
.error {
  font-size: 10px;
  color: red;
}
