@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

body {
  margin: 0;
  font-family: "Walter Turncoat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*Global*/
.wraper {
  margin-top: 100px;
}

.container {
  background-color: whitesmoke;
}

/*Header Component*/
.logout-button {
  text-align: center;
}
.logo-wraper {
  background-color: #f69325;
}
.p-tag {
  transform: translateY(-50%);
  position: absolute;
  right: 20px;
  top: 50%;
  cursor: pointer;
}
.logo-wraper img {
  height: 60px;
  cursor: pointer;
}
.logo-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-wraper i {
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
  color: black;
  vertical-align: middle;
  margin-left: 1%;
}
.logo-wraper p {
  margin: 0;
  padding: 0;
}

/*Login Component*/
.form-input {
  margin: 2% 0;
}
/*--------*/

/*Register Component*/
.signup-button {
  margin-top: 5%;
}

/*Admin Landing Page Component*/

.button-container {
  margin: 5% 0;
}
.customButton {
  width: 80%;
  height: 50px;
  font-size: 2vh;
  font-weight: bolder;
}
.customButton i {
  font-weight: bolder;
  vertical-align: middle;
  margin-right: 2%;
}

/*Add Equipment Component*/

.add-equipment-container h4 {
  margin: 0;
  text-align: left;
}
.employee-equipment-container h4 {
  margin: 0;
  text-align: left;
}

.add-equipment-container-item {
  margin: 5% 0;
}

.add-equipment-container-item select,
input {
  height: 30px;
}
.add-equipment-container-button button {
  margin: 10% 0;
  width: 85%;
  height: 40px;
  background-color: #f69325;
  font-size: 2vh;
  font-weight: bolder;
  font-family: "Walter Turncoat";
  border: 3px solid black;
}

.add-equipment-container-button button:hover {
  background-color: #8d4e05;
  border: 2px solid white;
  color: white;
}

/*Table*/
table {
  font-family: "Walter Turncoat";
  border-collapse: collapse;
  width: 100%;
}

table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0;
}

tbody tr:nth-child(odd) {
  background-color: rgb(184, 180, 180);
}
td button {
  width: 90%;

  background-color: #f69325;
  font-size: 1.2vh;
  font-family: "Walter Turncoat";
  border: 1px solid black;
  font-weight: bold;
}
td button:hover {
  background-color: #8d4e05;

  color: white;
}

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal__box {
  position: relative;
  width: 80%;
  margin: 0 10%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  cursor: auto;
}
.modal__title {
  font-size: 30px;
}
.modal-button {
  width: 50%;
  margin: 0 auto;
  height: 30px;
  background-color: rgb(79, 219, 79);
  font-size: 1.2vh;
  font-family: "Walter Turncoat";
  border: 1px solid black;
  font-weight: bold;
  color: white;
}
.modal-button:hover {
  background-color: rgb(23, 160, 23);
  color: black;
}
.button-remove,
.button-close {
  width: 45%;
  height: 30px;
  font-size: 1.2vh;
  font-family: "Walter Turncoat";
  border: 1px solid black;
  font-weight: bold;
}
.button-remove {
  margin-right: 0;
  background-color: rgb(182, 29, 9);
  color: white;
  margin-left: 5px;
}
.button-remove:hover {
  background-color: rgb(146, 23, 7);
  color: black;
}
.button-close:hover {
  background-color: rgb(133, 131, 131);
  color: white;
}

/*Alert modal*/
.dialog {
  position: fixed;
  top: 70px;
  left: 25%;
  width: 50%;
  margin: 0 auto;
  height: 50px;
  z-index: 10;
}
.alert {
  margin-bottom: 1rem;
  height: 2rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}

@media only screen and (max-width: 460px) {
  .p-tag {
    right: 5px;
    font-size: 12px;
  }
  .p-tag i {
    font-size: 20px;
  }
  .logo-left {
    justify-content: flex-start;
  }
  .logo-wraper img {
    height: 40px;
  }
}

@media only screen and (max-width: 639px) {
  .wraper {
    margin-top: 0;
  }
  .container {
    box-shadow: none !important ;
  }
}
